.container {
    background-color: black;
    flex-wrap: no-wrap;
    border: 1px solid red;
    line-height: 0;
}

.image {
    width: 399px;
    height: 500px;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.image:nth-child(1) {
    margin-bottom: 1px;
}
