.hero_container {
    z-index: -1;
    width: 100%;
    height: 55vh;
    max-height: 500px;
    overflow: hidden;
}

.hero_container img {
    object-position: center center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5rem;
}

.recognition {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -2rem;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.about_me {
    width: 50%;
    align-self: flex-start;
}

.about_me_name {
    font-size: 3rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(180, 177, 177);
}

.about_me_desc {
    margin-top: 1rem;
    line-height: 1.5;
}

.expectations {
    margin-top: 2rem;
}

.expectations h3 {
    font-size: 1.5rem;
}

.expectations p {
    margin-top: 0.5rem;
    line-height: 1.5;
}

/* 320px — 480px for mobile devices,
   481px — 768px for iPads & tablets,
   769px — 1024px for small screens like laptop,
   1025px — 1200px for large screens like Desktops,
   1201px and above for extra large screens like TV
*/
@media screen and (max-width: 1200px) {
    .hero_container {
        height: 40vh;
    }

    .info {
        margin-top: -4rem;
    }

    .recognition {
        margin-right: -2rem;
    }

    .content {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    .recognition {
        align-self: center;
        margin-top: 7rem;
        margin-right: 1rem;
    }

    .about_me {
        margin-left: -1rem;
    }

    .about_me_name {
        font-size: 2rem;
    }

    .about_me_desc {
        font-size: 0.8rem;
    }

    .expectations h3 {
        font-size: 1.25rem;
    }

    .expectations p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    .hero_container {
        height: 30vh;
    }

    .info {
        margin-top: 3rem;
        flex-direction: column;
    }

    .recognition {
        margin-top: 2rem;
    }

    .content {
        margin-top: 2rem;
        justify-content: center;
    }

    .about_me {
        margin-left: 0;
        width: 100%;
        padding: 0 3.5rem;
    }

    .about_me_name,
    .expectations h3 {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .hero_container {
        height: 20vh;
    }

    .hero,
    .recognition {
        display: none;
    }

    .info {
        margin: 1.25rem 0;
    }

    .content {
        padding: 0;
    }

    .about_me {
        padding: 0 2rem;
    }
}
