.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: end;
    margin-top: -5.5rem;
    color: white;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 10;
}

.recognition {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1275px) {
    .title {
        text-align: center;
    }
}

@media screen and (max-width: 950px) {
    .title {
        font-size: 2rem;
        margin-top: -3rem;
    }
}

@media screen and (max-width: 750px) {
    .info {
        flex-direction: column;
        margin-left: -1rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .title {
        font-size: 1.25rem;
        margin-top: -2rem;
    }

    .recognition {
      margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
