.contact_details {
    margin-top: 1.5rem;
}

.icon_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.icon {
    font-size: 1.5rem;
    margin-right: 2rem;
}

/* 320px — 480px for mobile devices,
   481px — 768px for iPads & tablets,
   769px — 1024px for small screens like laptop,
   1025px — 1200px for large screens like Desktops,
   1201px and above for extra large screens like TV
*/

@media screen and (max-width: 1024px) {
    .contact_details {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }

    .icon_text {
        flex-direction: column;
    }

    .icon {
        margin-bottom: 1rem;
    }

    .text {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    .contact_details {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon_text {
        justify-content: center;
        align-items: center;
    }

    .icon {
        margin-bottom: 0.5rem;
        margin-right: 0;
    }

    .icon_text:last-child {
        margin-bottom: 1rem;
    }
}
