.hero_container {
    z-index: -1;
    width: 100%;
    height: 55vh;
    max-height: 500px;
    overflow: hidden;
}

.hero_container img {
    object-position: center 30%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact_container {
    margin-top: 5rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    overflow: hidden;
    -webkit-box-shadow: -1px 6px 19px -4px rgba(181, 179, 181, 1);
    -moz-box-shadow: -1px 6px 19px -4px rgba(181, 179, 181, 1);
    box-shadow: -1px 6px 19px -4px rgba(181, 179, 181, 1);
}

/* 320px — 480px for mobile devices,
   481px — 768px for iPads & tablets,
   769px — 1024px for small screens like laptop,
   1025px — 1200px for large screens like Desktops,
   1201px and above for extra large screens like TV
*/

@media screen and (max-width: 1200px) {
    .hero_container {
        height: 40vh;
    }
}

@media screen and (max-width: 1024px) {
    .contact_container {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {
    .hero_container {
        height: 30vh;
    }

    .contact_container {
        width: 80%;
        margin: 2rem auto;
    }
}

@media screen and (max-width: 480px) {
    .hero_container {
        height: 20vh;
    }

    .contact_container {
        width: 100%;
        margin: 1rem auto;
        margin-bottom: -2rem;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 0;
    }
}
