.contact_info {
    background-color: rgba(229, 229, 229, 1);
    flex: 0 1 40%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
   
}

.contact_info h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.contact_info_text {
    color: rgba(0, 0, 0, 0.6);
    margin: 0.5rem 0 2rem;
    line-height: 1.45;
    font-size: 0.9rem;
}

.question {
    font-weight: 600;
    font-size: 1rem;
    display: block;
}

/* 320px — 480px for mobile devices,
   481px — 768px for iPads & tablets,
   769px — 1024px for small screens like laptop,
   1025px — 1200px for large screens like Desktops,
   1201px and above for extra large screens like TV
*/

@media screen and (max-width: 1024px) {
    .contact_info {
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 1rem;
    }

    .contact_info h4,
    .question {
        line-height: 1.25;
    }
}

@media screen and (max-width: 768px) {
    .contact_info {
        padding: 1.5rem;
        text-align: center;
    }

    .contact_info h4 {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
  .contact_info {
      padding: 1.5rem;
      text-align: center;
  }


}
