.footer_info_title {
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 1.5rem;
    text-align: center;
}

.info_wrapper p {
    line-height: 1.75;
    margin-left: 3rem;
}

/* 320px — 480px for mobile devices,
   481px — 768px for iPads & tablets,
   769px — 1024px for small screens like laptop,
   1025px — 1200px for large screens like Desktops,
   1201px and above for extra large screens like TV
*/

@media screen and (max-width: 1024px) {
    .footer_info_title,
    .info_wrapper p {
        font-size: 0.8rem;
    }

    .info_wrapper {
        margin-top: -0.5rem;
    }
}
@media screen and (max-width: 768px) {
    .footer_info_title,
    .info_wrapper p {
        font-size: 0.7rem;
    }

    .info_wrapper {
        margin-top: -0.3rem;
    }
}
@media screen and (max-width: 480px) {
    .footer_info_title {
        margin: 1rem 0 1rem;
    }

    .footer_info_title,
    .info_wrapper p {
        font-size: 0.7rem;
    }

    .info_wrapper p {
        text-align: center;
        margin-left: 0;
    }

    .info_wrapper {
        margin-top: -0.3rem;
    }
}
