.footer {
    width: 100%;
    background-color: rgba(244, 244, 244, 1);
    margin-top: 5rem;
    padding: 2rem 0;
}

.footer_site_info {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer_locations,
.footer_policies {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer_policies {
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

.footer_locations li:not(:last-child) {
    padding-right: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}
