.social_title {
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 1.5rem;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icon {
    margin-right: 0.25rem;
}
