* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

html,
body {
    font-weight: 400;
    line-height: 1;
    width: 100vw;
    height: 100vh;
}

body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea {
    font: serif;
    letter-spacing: 2px;
}

.main_container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding: 0 10rem;
}

div:hover > .rec-arrow:hover {
    background-color: goldenrod;
    border-radius: 50%;
}

div:active > .rec-arrow:active {
    background-color: goldenrod;
}

.rec.rec-dot_active {
    background: goldenrod;
}

.rec.rec-arrow {
    border-radius: 0;
}


/* 320px — 480px for mobile devices,
   481px — 768px for iPads & tablets,
   769px — 1024px for small screens like laptop,
   1025px — 1200px for large screens like Desktops,
   1201px and above for extra large screens like TV
*/

@media screen and (max-width: 1350px) {
    .container {
        padding: 0 7rem;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 0 4rem;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        padding: 0 6rem;
    }
}

@media screen and (max-width: 890px) {
    .container {
        padding: 0 4rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0;
    }

    .rec.rec-arrow {
        display: none;
    }
}
