* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

html,
body {
    font-weight: 400;
    line-height: 1;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea {
    font: inherit;
}

.main_container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    width: 100%;
    padding: 0 10em;
}

/* 320px — 480px for mobile devices,
   481px — 768px for iPads & tablets,
   769px — 1024px for small screens like laptop,
   1025px — 1200px for large screens like Desktops,
   1201px and above for extra large screens like TV
*/

@media screen and (max-width: 1350px) {
    .container {
        padding: 0 7rem;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 0 8rem;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        padding: 0 6rem;
    }
}

@media screen and (max-width: 890px) {
    .container {
        padding: 0 1.5rem 0 5rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }
}
