.navbar {
    position: sticky;
    background-color: #fff;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2.5rem;
    -webkit-box-shadow: 5px 5px 15px -1px #666666;
    box-shadow: 0px 5px 5px -8px #666666;
    z-index: 999;
}

.mobile_menu_icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .mobile_menu_icon {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        transform: translate(-100%, 60%);
        font-size: 1.5rem;
        cursor: pointer;
    }
}
