.hero_container {
    z-index: -1;
    width: 100%;
    height: 55vh;
    max-height: 500px;
    overflow: hidden;
}

.hero_container img {
    object-position: center center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category_container {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category {
    width: 350px;
    height: 425px;
    margin-bottom: 3rem;
}

.category img:hover,
.column img:hover {
    filter: opacity(0.7);
}

.category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    object-position: center top;
}

.img2 {
    object-position: center top;
}

.single_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.column {
    width: 740px;
    height: 450px;
}

.column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category p,
.column p {
    margin-top: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
}

/* 320px — 480px for mobile devices,
   481px — 768px for iPads & tablets,
   769px — 1024px for small screens like laptop,
   1025px — 1200px for large screens like Desktops,
   1201px and above for extra large screens like TV
*/

@media screen and (max-width: 1500px) {
    .category {
        width: 290px;
        height: 350px;
    }

    .column {
        width: 50%;
        max-width: 570px;
        height: 300px;
    }
}

@media screen and (max-width: 1350px) {
    .category {
        width: 270px;
        height: 330px;
    }
}

@media screen and (max-width: 1200px) {
    .category {
        width: 340px;
        height: 370px;
        margin-bottom: 5rem;
    }

    .hero_container {
        height: 40vh;
    }

    .column {
        width: 90%;
        max-width: 760px;
    }

    .column:first-child {
        margin-bottom: 4rem;
    }

    .category_container {
        width: 85%;
        margin: 0 auto;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1024px) {
    .category_container {
        width: 95%;
    }

    .column {
        width: 90%;
        max-width: 770px;
    }

    .column:first-child {
        margin-bottom: 4rem;
    }

    .column {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .hero_container {
        height: 30vh;
    }

    .column {
        height: 275px;
        margin-bottom: 3rem;
    }

    .category {
        width: 45%;
        height: 275px;
    }
}

@media screen and (max-width: 480px) {
    .hero_container {
        height: 20vh;
    }

    .category {
        margin-bottom: 4rem;
        width: 90%;
        height: 350px;
    }

    .column {
        width: 85%;
        height: 250px;
        margin-bottom: 2rem;
    }

    .column:first-child {
        margin-bottom: 4rem;
    }
}
