.profile,
.stock {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 10;
}

.profile::before {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    top: -10%;
    left: -10%;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
}

.stock::before {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    top: -10%;
    right: -10%;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
}

/* 320px — 480px for mobile devices,
   481px — 768px for iPads & tablets,
   769px — 1024px for small screens like laptop,
   1025px — 1200px for large screens like Desktops,
   1201px and above for extra large screens like TV
*/
@media screen and (max-width: 1200px) {
    .profile,
    .profile::before,
    .stock,
    .stock::before {
        width: 275px;
        height: 275px;
    }

    .stock {
        margin-top: 4rem;
    }
}
@media screen and (max-width: 1024px) {
    .profile,
    .profile::before,
    .stock,
    .stock::before {
        width: 200px;
        height: 200px;
    }

    .stock {
        margin-right: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .profile,
    .profile::before {
        width: 150px;
        height: 150px;
    }

    .stock,
    .stock::before {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .profile {
        width: 150px;
        height: 150px;
    }

    .profile::before {
        display: none;
    }
}
