.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 1.75rem;
    background-color: rgba(244, 244, 244, 1);
    padding: 1.25rem;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 15px -1px #666666;
    -moz-box-shadow: 5px 5px 15px -1px #666666;
    box-shadow: 5px 5px 15px -1px #666666;
}

.info {
    width: 16ch;
    line-height: 1.5;
    margin-top: 0.5em;
    text-align: center;
}

.info span {
    font-weight: 900;
    font-size: 1.5rem;
}

/* 320px — 480px for mobile devices,
   481px — 768px for iPads & tablets,
   769px — 1024px for small screens like laptop,
   1025px — 1200px for large screens like Desktops,
   1201px and above for extra large screens like TV
*/
@media screen and (max-width: 1200px) {
    .icon {
        font-size: 2rem;
    }

    .info {
        font-size: 0.75rem;
    }

    .info span {
        font-weight: 700;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1024px) {
    .icon {
        font-size: 1.25rem;
        padding: 0.9rem;
    }

    .info {
        font-size: 0.6rem;
    }

    .info span {
        font-weight: 700;
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .icon {
        font-size: 1rem;
    }

    .info {
        font-size: 0.65rem;
        width: 14ch;
    }

    .info span {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        background-color: rgba(244, 244, 244, 1);
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
        margin-top: 0.5rem;
    }
    .icon {
        padding: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .info {
        margin: 0;
        width: 80%;
        margin-left: 1rem;
        justify-self: center;
        width: fit-content;
    }
}
