.review {
    width: 80%;
}

.review_text {
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    margin-bottom: 3rem;
    text-align: center;
}

.client {
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

/* 320px — 480px for mobile devices,
   481px — 768px for iPads & tablets,
   769px — 1024px for small screens like laptop,
   1025px — 1200px for large screens like Desktops,
   1201px and above for extra large screens like TV
*/

@media screen and (max-width: 480px) {
    .review {
        width: 90%;
        font-size: 0.9rem;
    }
}
