.testimonial {
    align-self: stretch;
    width: 300px;
    background-color: rgba(229, 229, 229, 1);
    margin-top: 8rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rating {
    color: rgba(180, 144, 12, 1);
    font-size: 1.5rem;
    margin: 1rem 0;
}
